@import "src/@fuse/scss/fuse";
#dashboard {
  background-color: white;
  .topbarClass {
    background: url("/assets/images/backgrounds/header 2.png") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .progressBarPostion {
    position: absolute !important;
    top: 350px;
    z-index: 1;
    left: 55%;
  }
  .outer {
    border-bottom: 1px solid rgba(8, 51, 104, 0.6);
    position: relative;
    z-index: 1;
    .bg {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      // background-image: url("assets/images/header_2.png");
      opacity: 0.1;
      background-repeat: no-repeat;
    }
    width: 100%;
    object-fit: contain;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
  }
  .center {
    // padding: 5px !important;
    background-color: white;
  }
  // .side-bar {
  //   display: flex;
  //   flex: 1;
  //   flex-direction: column;
  //   .sidenav-content {
  //     overflow: auto;
  //     overflow-x: hidden;
  //     -webkit-overflow-scrolling: touch;
  //   }
  // }
  .cardHeader {
    background-color: #fffdf9;
    height: 45px;
  }
  .boldClass {
    font-weight: bold;
  }

  .boldItalicClass {
    @extend .boldClass;
    font-style: italic;
  }

  .semiBoldClass {
    font-weight: 500;
  }

  .subTitle {
    @extend .semiBoldClass;
    font-size: 12px;
    color: #d87060;
  }

  // .tableData {
  //   overflow: auto;
  //   height: 60vh !important;
  //   min-height: 60vh !important;
  //   // max-height: 33vh !important;
  //   .table {
  //     width: 150vw;
  //     max-width: 100%;
  //     overflow: auto;
  //     margin-bottom: 10px;
  //     display: table;
  //     border-collapse: collapse;
  //     margin: 0px;
  //     // background-color: rgb(238, 238, 238);
  //   }
  //   .row,
  //   .header-row {
  //     display: table-row;
  //     min-height: 36px !important;
  //   }
  //   .mat-row:hover {
  //     background-color: lightgrey;
  //   }
  //   .cell,
  //   .header-cell {
  //     word-wrap: initial;
  //     display: table-cell;
  //     padding: 0px 5px;
  //     line-break: unset;
  //     width: fit-content;
  //     white-space: nowrap;
  //     overflow: hidden;
  //     vertical-align: middle;
  //     text-align: center;
  //   }
  //   .header-row,
  //   .header-cell {
  //     margin: 0 auto;
  //     min-height: 100px !important;
  //     text-align: center;
  //     vertical-align: middle;
  //     align-self: center;
  //   }
  //   .mat-card {
  //     min-width: max-content;
  //     max-width: max-content;
  //   }
  //   .sort-header {
  //     display: flex;
  //     align-content: center;
  //     text-align: center;
  //     justify-content: center;
  //     font-size: 12pt;
  //   }
  //   .header-cell {
  //     font-weight: bold;
  //   }
  // }

  @mixin TableBorderRight($color) {
    border-right: 1px solid $color;
  }

  .TablePadFont {
    padding: 5px;
    font-size: 12px;
    min-width: 100px !important;
  }

  // table {
  //   width: 100%;

  //   th {
  //     @include TableBorderRight(gray);
  //     @extend .TablePadFont;
  //     color: white;
  //     background-color: #121214;
  //   }

  //   td {
  //     @include TableBorderRight(rgba(0, 0, 0, 0.12));
  //     @extend .TablePadFont;
  //     font-size: 12px;
  //     text-align: center;
  //     min-width: max-content !important;
  //   }

  //   tr {
  //     height: 40px;
  //   }

  //   .mat-sort-header-container {
  //     display: flex;
  //     justify-content: center;
  //   }
  // }
  table {
    width: 100%;

    th {
      @include TableBorderRight(gray);
      @extend .TablePadFont;
      color: white;
      background-color: #121214;
    }

    td {
      @include TableBorderRight(rgba(0, 0, 0, 0.12));
      @extend .TablePadFont;
      font-size: 12px;
      min-width: max-content !important;
    }

    tr {
      height: 40px;
    }

    .mat-sort-header-container {
      display: flex;
      justify-content: center;
    }

    .tableLeftBorder {
      border-left: 1px solid rgba(0, 0, 0, 0.12);
    }
  }

  // td.mat-cell {
  //   /* row padding */
  //   padding: 16px 0;
  //   /* row border */
  //   border-bottom: 1px solid #ffa600;
  //   border-top: 1px solid #ffa600;
  //  }

  //  td.mat-cell:first-child {
  //    /* row border */
  //    border-left: 1px solid #ffa600;
  //  }

  //  td.mat-cell:last-child {
  //    /* row border */
  //    border-right: 1px solid #ffa600;
  //  }

  //  table {
  //    /* row spacing / margin */
  //    border-spacing: 0 8px !important;
  //  }
  .whiteBg {
    background-color: white !important;
  }
  .btnBg {
    background-color: #074da2 !important;
    color: white;
  }
  .tile {
    @include mat-elevation(2);
    min-height: 60px !important;
    max-height: 250px !important;
    img {
      height: 36px;
    }
    cursor: pointer;
  }
  .redBorderBottom {
    border-bottom: 2px solid #f3705a;
  }
  .orangeBorderBottom {
    border-bottom: 2px solid #ffd15c;
  }
  .rightCard {
    min-height: 300px !important;
    background-color: #f5f5f5;
  }
  .topLeftBorderRadius {
    border-top-left-radius: 20px;
  }
  .ticketTile {
    background-color: white;
    border-left: 5px solid #cccccc;
  }
  .italicClass {
    font-style: italic;
  }
  .avatar1 {
    height: 40px !important;
    width: 40px !important;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
  }
  .intervalclass {
    @extend .italicClass;
    @extend .semiBoldClass;
    font-size: small;
  }
  .subHeader {
    font-weight: 500;
  }
  .outer-circle {
    height: 100px;
    width: 100px;
    border: 3px dashed red;
    border-radius: 50%;
    position: relative;
  }
  .inner-circle {
    // height: 75px;
    // width: 75px;
    // border: 1px solid #f3705a;
    // border-radius: 50%;
    // background-color: white;
    position: absolute;
    top: 11%;
    left: 11%;
  }
  .chart-legend .legend-labels {
    width: 100px;
  }
  .search {
    height: 36px;
    line-height: 36px;
    padding: 8px;
    font-size: 13px;
    // border-radius: 18px;
    border: 1px solid;
    overflow: hidden;
    background-color: #ffffff;
    border-color: #ffffff;
    // border-color: rgba(0, 0, 0, 0.12);
    @include mat-elevation(1);
    border: 1px solid #c3c3c3;
    mat-icon.s-16 {
      color: rgba(0, 0, 0, 0.54) !important;
    }

    .icon {
      margin: 0;
      color: rgba(0, 0, 0, 0.54);
    }

    input {
      padding: 0 12px 0 8px;
      background-color: #ffffff;
      height: 36px;
      border: none;
    }
  }
  .doughnutChartPosition {
    margin-bottom: 8px;
    position: relative;
    left: 54%;
  }
  #doughnutChart {
    canvas {
      // width: 200px !important;
      height: 140px !important;
    }
  }
  #barChart {
    canvas {
      // width: 200px !important;
      height: 170px !important;
    }
  }

  // .mat-form-field-appearance-outline {
  //   .mat-form-field-outline {
  //     color: rgba(0, 0, 0, 0.5) !important;
  //   }
  // }
  // .mat-form-field-appearance-outline.ng-invalid.ng-touched {
  //     .mat-form-field-outline {
  //         color: red !important;
  //     }
  // }

  // .mat-form-field-appearance-outline.ng-valid {
  //     .mat-form-field-outline {
  //         color: rgba(0, 0, 0, 0.5) !important;
  //     }
  // }

  // .mat-form-field-appearance-outline .mat-form-field-outline {
  //   top: 0.4em !important;
  // }
  // .mat-form-field-flex > .mat-form-field-infix {
  //   padding: 0.002em 0px !important;
  // }
  // .normal .mat-form-field-flex > .mat-form-field-infix {
  //   padding: 0.4375em 0 !important;
  // }
  // .mat-form-field-label-wrapper {
  //   top: -1em;
  // }

  // .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  //   transform: translateY(-0.5em) scale(0.75);
  // }

  // .mat-form-field-suffix .mat-icon-button {
  //   width: 2.5em;
  //   height: 1.5em !important;
  // }

  // .mat-form-field-appearance-outline .mat-form-field-outline-start {
  //   border-radius: 0px 0 0 0px !important;
  // }
  // .mat-form-field-appearance-outline .mat-form-field-outline-end {
  //   border-radius: 0px 0 0 0px !important;
  // }

  // .mat-form-field-outline-gap {
  //   border: 1px solid #1b56ca;
  //   border-radius: 1e-6px;
  // }
  // .mat-form-field-wrapper {
  //   padding-bottom: 0.7em !important;
  // }
  .tableLeftBorder {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }

  .roundCommon {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
  }

  .round {
    @extend .roundCommon;
    background-color: white;
    border-color: gray;
  }
  // .round1 {
  //   @extend .roundCommon;
  //   background-color: white;
  //   border-color: #34ad65;
  // }
  .hor-timeline {
    height: 8px;
    margin-top: 5px;
    //border-radius: 4px;
  }
  .green-timeline {
    @extend .hor-timeline;
    background-color: #34ad65;
  }
  .orange-timeline {
    @extend .hor-timeline;
    background-color: #074da2;
  }
  .white-timeline {
    @extend .hor-timeline;
    background-color: white;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }
  .Rectangle {
    // width: 152px;
    min-height: 50px;
    border-radius: 9px;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    cursor: pointer !important;
  }
  .Rectangle-106 {
    width: 36px;
    height: 33px;
    opacity: 0.2;
    border-radius: 2px;
    background-color: #f9d2a8;
  }
  .tableCellBorder {
    height: 20px;
    vertical-align: middle;
    width: 10px;
    background-color: #074da2;
    opacity: 0.7;
  }
  .next {
    background-color: #e8ffeb;
    padding: 4px 2px;
  }

  .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.3em 0px !important;
  }
  .mat-form-field-label-wrapper {
    top: -1.5em;
  }
  .mat-form-field-wrapper {
    margin: 1em 0 0 0;
    padding-bottom: 1em;
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }

  .progress__svg {
    transform: rotate(-90deg);
  }

  .progress__meter,
  .progress__value {
    fill: none;
  }

  // .progress__meter {
  //   stroke: #ccc;
  //   stroke-dasharray: 2;
  // }

  // .progress__value {
  //   stroke: green;
  //   stroke-dasharray: 2;
  //   transition: all;
  // }
  .progress__meter {
    stroke: #f3705a;
  }

  .progress__value {
    stroke: #efefef;
    opacity: 0.9;
    transition: all 100ms;
  }
  .progressSubtitle {
    fill: #f3705a !important;
  }

  .divider1 {
    border-left: 1px solid #25262b;
    opacity: 0.2;
    margin-right: 10%;
  }
  .divider {
    border-left: 1px solid #25262b;
    opacity: 0.2;
    margin-right: 5%;
    margin-top: -2%;
    margin-bottom: -20px;
  }
  .tab-divider {
    border-left: 1px solid;
    margin-left: 15px;
    border-color: #000000;
    opacity: 0.2;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .tab-round1 {
    height: 90px;
    width: 90px;
    border: 2px solid;
    border-radius: 90%;
    // border-color: #8ba0f9
  }
  .tab-round2 {
    height: 80px;
    width: 80px;
    border: 1px solid;
    border-radius: 60px;
    /* padding: 0px; */
    margin: 3px;
    // border-color: #8ba0f9;
  }
  .open-round1 {
    @extend .tab-round1;
    // border-color: #8ba0f9
    border-color: #89e075;
  }
  .open-round2 {
    @extend .tab-round2;
    border-color: #89e075;
    // border-color: #8ba0f9
  }
  .approved-round1 {
    @extend .tab-round1;
    border-color: #f8d68f;
  }
  .approved-round2 {
    @extend .tab-round2;
    border-color: #f8d68f;
  }
  .rejected-round1 {
    @extend .tab-round1;
    border-color: #edb084;
  }
  .rejected-round2 {
    @extend .tab-round2;
    border-color: #edb084;
  }
  .qa-round1 {
    @extend .tab-round1;
    border-color: #f8d68f;
  }
  .qa-round2 {
    @extend .tab-round2;
    border-color: #f8d68f;
  }
  .document-round1 {
    @extend .tab-round1;
    border-color: #f98bb5;
  }
  .document-round2 {
    @extend .tab-round2;
    border-color: #f98bb5;
  }
  .flip-round1 {
    @extend .tab-round1;
    border-color: #eaeaeb;
  }
  .flip-round2 {
    @extend .tab-round2;
    border-color: #eaeaeb;
  }
  .tab-divider {
    border-left: 1px solid;
    margin-left: 15px;
    border-color: #000000;
    opacity: 0.2;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  ::ngdeep .mat-tab-label {
    height: 150px !important;
  }
  .tab-highlight {
    border-bottom: 2px solid !important;
    border-color: #074da2 !important;
    width: 100px !important;
    margin-top: 15px;
    margin-left: -10px;
  }
  body.theme-default .mat-tab-group.mat-primary .mat-ink-bar,
  body.theme-default .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    border: 2px solid !important;
    border-color: #074da2 !important;
    visibility: visible !important;
    left: 30px !important;
    width: 100px !important;
  }
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    border: 2px solid !important;
    border-color: #074da2 !important;
    visibility: visible !important;
    left: 30px !important;
    width: 100px !important;
  }
  .Btn1 {
    border-color: #074da2;
    background-color: #074da2;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 45%;
    margin-left: 30px;
    margin-top: 5px;
  }
  [hidden]{
    display: none !important;
  }
}
