<div id="dashboard" class="page-layout carded" fusePerfectScrollbar>
  <div class="center">
    <div fxFlex fxLayout="column">
      <div class="outer" fxLayout>
        <div class="bg"></div>
        <div>
          <h3 style="margin: 0px;padding-left: 10px;"><b>Dashboard</b></h3>
        </div>
        <div fxFlex align="end">
          <span><img src="assets/images/logo.png" style="height: 56px;padding: 11px 15px 2px 15px;"></span>
        </div>
      </div>
      <div class="sidenav-content px-24 mt-4" fxFlex fxLayout="column">
        <div fxFlex style="margin-bottom: 50px !important;">
          <div class="container m-12" fxLayout fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center"
            fxLayoutGap="10px" fxLayoutGap.xs="10">
            <div fxFlex="33" (click)="tabone()">
              <div class="container" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
                <div class="open-round1">
                  <div style="margin-top: 3px; margin-left: 60px;">
                    <span [matBadge]="OpenCount" matBadgeColor="#8ba0f9" matBadgeOverlap="false"></span>
                  </div>
                  <div class="open-round2">
                    <img style="margin-top: 16px !important;margin-left: 21px !important;"
                      src="assets/images/notes.png">
                    <div style="margin-top: 20px;margin-left: 20px;">Open</div>
                    <div *ngIf="tabCount === 1" class="tab-highlight"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-divider"></div>
            <div fxFlex="33" (click)="tabtwo()">
              <div class="container" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
                <div class="approved-round1">
                  <div style="margin-top: 3px; margin-left: 60px;">
                    <span [matBadge]="ApprovedCount" matBadgeColor="#8ba0f9" matBadgeOverlap="false"></span>
                  </div>
                  <div class="approved-round2">
                    <img style="margin-top: 14px !important;margin-left: 17px;" src="assets/images/surface1.png">
                    <div style="margin-top: 19px;margin-left: 12px;">Approved</div>
                    <div *ngIf="tabCount === 2" class="tab-highlight"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-divider"></div>
            <div fxFlex="33" (click)="tabthree()">
              <div class="container" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
                <div class="rejected-round1">
                  <div style="margin-top: 3px; margin-left: 60px;">
                    <span [matBadge]="RejectedCount" matBadgeColor="#8ba0f9" matBadgeOverlap="false"></span>
                  </div>
                  <div class="rejected-round2">
                    <img style="margin-top: 15px !important;margin-left: 14px;" src="assets/images/phone.png">
                    <div style="margin-top: 18px;margin-left: 14px;">Rejected</div>
                    <div *ngIf="tabCount === 3" class="tab-highlight"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-bottom: 30px !important;" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="s-16">search</mat-icon>
            <input [(ngModel)]="searchText" type="text" (keyup)="applyFilter($event)" placeholder="Search" fxFlex>
          </div>
          <div fxFlex class="mr-24" align="end">
            <!-- <mat-form-field appearance="outline" style="width: 120px;">
              <mat-select [(ngModel)]="FilterVal">
                <mat-option value="All">All</mat-option>
              </mat-select>
            </mat-form-field> -->
          </div>
        </div>
        <div fxFlex fxLayout="column">
          <table class="table" mat-table [dataSource]="VendorOnBoardingsDataSource" matSort>

            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let element;let odd=odd" class="tableLeftBorder pl-0">
                <div fxLayout>
                  <div class="tableCellBorder" [style.background-color]="odd?'#6f52ed':'#074da2'"></div>
                  <div fxFlex class="pl-4">{{element.Name}} </div>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="LegalName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ShortName </th>
              <td mat-cell *matCellDef="let element">
                <span class="next">{{element.LegalName}}
                </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="Type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
              <td mat-cell *matCellDef="let element">
                {{element.Type}} </td>
            </ng-container>

            <ng-container matColumnDef="Country">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
              <td mat-cell *matCellDef="let element">
                {{element.Country}} </td>
            </ng-container>

            <ng-container matColumnDef="Phone1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone1 </th>
              <td mat-cell *matCellDef="let element">
                {{element.Phone1}} </td>
            </ng-container>

            <ng-container matColumnDef="Email1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email1 </th>
              <td mat-cell *matCellDef="let element">
                {{element.Email1}} </td>
            </ng-container>

            <ng-container matColumnDef="CreatedOn">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
              <td mat-cell *matCellDef="let element"> {{element.CreatedOn | date :'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let element">
                {{element.Status}} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let element" style="width:400px">
                <div fxLayout class="mt-4 mr-40 ml-8">
                  <div fxFlex="30" fxLayout>
                    <div class="round" [style.border-color]="element.Status==='Open'?'#074da2':'#34ad65'"></div>
                    <div style="width: 10px;" [class]="element.Status==='Open'?'orange-timeline':'green-timeline'"></div>
                    <div [class]="element.Status==='Open'?'white-timeline':'green-timeline'" fxFlex></div>
                  </div>
                  <div fxFlex="30" fxLayout>
                    <div style="width: 10px;" [class]="getTimeline(element,'ASN')"></div>
                    <div class="round" [style.border-color]="getStatusColor(element,'ASN')"></div>
                    <div style="width: 10px;" [class]="getTimeline(element,'ASN')"></div>
                    <div [class]="getRestTimeline(element,'ASN')" fxFlex></div>
                  </div>
                  <div fxFlex="30" fxLayout>
                    <div style="width: 10px;" [class]="getTimeline(element,'Gate')"></div>
                    <div class="round" [style.border-color]="getStatusColor(element,'Gate')"></div>
                    <div style="width: 10px;" [class]="getTimeline(element,'Gate')"></div>
                    <div [class]="getRestTimeline(element,'Gate')" fxFlex></div>
                  </div>
                  <div fxFlex="10" fxLayout>
                    <div style="width: 10px;" [class]="getTimeline(element,'GRN')"></div>
                    <div class="round" [style.border-color]="getStatusColor(element,'GRN')"></div>
                  </div>
                </div>
                <div fxLayout class="mr-40 ml-8">
                  <div fxFlex="30">VendorOnBoardings</div>
                  <div fxFlex="30">ASN</div>
                  <div fxFlex="30">Gate</div>
                  <div fxFlex="10">GRN</div>
                </div>
              </td>
            </ng-container> -->

            <!-- <ng-container matColumnDef="Document">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Document </th>
              <td mat-cell *matCellDef="let element">
                <div fxLayout class="Rectangle">
                  <div class="Rectangle-106 m-8">
                    <img class="m-8" src="assets/images/imageIcon.png">
                  </div>
                  <div fxFlex class="m-8" fxLayout="column">
                    <div fxFlex>attachment.jpg</div>
                    <div fxFlex>10KB</div>
                  </div>
                </div>
              </td>
            </ng-container> -->

            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Action </th>
              <td mat-cell *matCellDef="let element" style="text-align: center;">
                <button mat-stroked-button style="background-color: #074da2;
                color: white;cursor: pointer !important;" (click)="ReviewAndApproveVendor(element)">Review</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="VendorOnBoardingsDisplayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: VendorOnBoardingsDisplayedColumns;let even=even"
              style=" cursor: pointer;">
            </tr>
          </table>
          <!-- <table>
            <tr *ngIf="!VendorOnBoardingsDataSource.data.length">
              <td style="text-align: center;" [attr.colspan]="VendorOnBoardingsDisplayedColumns.length">
                <mat-icon svgIcon="infoIcon" style="color: #1b56ca;margin-top: 10px;margin-left: 70px">
                </mat-icon>
                <span style="margin-left: 10px;"> No Records Found!</span>
              </td>
            </tr>
          </table> -->
          <div flex fxLayoutAlign="center center" style="margin-top: 20px;" *ngIf="!AllVendorOnBoardings?.length">
            <mat-icon svgIcon="infoIcon" style="color: #1b56ca;">
            </mat-icon>
            <span style="margin-left: 10px;">The table does not contain any records</span>
          </div>
          <div flex>
            <mat-paginator [hidden]="!AllVendorOnBoardings?.length" [pageSize]="5"
              [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
  </mat-progress-spinner>
  <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
</div>