<div class="dialog-content-wrapper">
  <mat-toolbar class="toolBg m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Change password</span>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
        <mat-icon svgIcon="closeIcon"></mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
      <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate  fxLayout="column" fxFlex>

          <mat-form-field>
              <input type="password" matInput placeholder="Current Password" formControlName="currentPassword" required>
              <mat-error *ngIf="resetPasswordForm.get('currentPassword').hasError('required')">
                  Current Password is required
              </mat-error>
              <!-- <mat-error *ngIf="resetPasswordForm.get('email').hasError('email')">
                Please enter a valid email address
            </mat-error> -->
          </mat-form-field>

          <mat-form-field>
              <input matInput type="password" placeholder="New Password" formControlName="newPassword" required>
              <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('required')">
                  New password is required
              </mat-error>
              <mat-error *ngIf="!resetPasswordForm.get('newPassword').hasError('required') &&
                                 resetPasswordForm.get('newPassword').hasError('pattern')">
                  Passwords must have minimum One Uppercase letter,three lower case letter,two digit,one special
                  character and minimum length of 8 and don't start with digit
              </mat-error>
          </mat-form-field>

          <mat-form-field>
              <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
              <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
                  Password confirmation is required
              </mat-error>
              <mat-error *ngIf="!resetPasswordForm.get('confirmPassword').hasError('required') &&
                               resetPasswordForm.get('confirmPassword').hasError('passwordsNotMatching')">
                  Passwords must match
              </mat-error>
          </mat-form-field>

          <!-- <button mat-raised-button class="submit-button" aria-label="RESET MY PASSWORD" (click)="ChangePasswordClick()">
              CHANGE MY PASSWORD
          </button> -->
      </form>

  </div>

  <mat-dialog-actions class="m-0 p-16" fxLayoutAlign="space-between center">
    <button mat-button type="button" (click)="CloseClicked()">Cancel</button>
    <button mat-button type="button" class="btnBg" (click)="YesClicked()">Yes</button>
  </mat-dialog-actions>
</div>
