:host {
  .folded:not(.unfolded) & {
    .nav-link {
      > .nav-link-title,
      > .nav-link-badge {
        opacity: 0;
        transition: opacity 200ms ease;
      }
    }
  }
}
.accent1 {
  background-color: rgba($color: #ffffff, $alpha: 0.1);
  color: #ffffff;
  border-bottom: 4px solid #074da2;
  mat-icon {
    opacity: 1;
  }
}

a:not(.accent1) {
  color: gray !important;
  mat-icon {
    opacity: 0.3;
  }
}
