<div id="bank" class="page-layout carded fullwidth">
  <div class="center">
    <div class="outer" fxLayout>
      <div class="bg"></div>
      <div>
        <h3 style="margin: 0px;padding-left: 10px;"><b>Bank</b></h3>
      </div>
      <div fxFlex align="end">
        <span><img src="assets/images/logo.png" style="height: 40px;padding: 4px 15px 2px 0px;"></span>
      </div>
    </div>
    <div fxLayout class="content-card1">
      <div fxFlex="23" class="side-bar" style="background-color: #f5f5f5">
        <div class="sidenav-header">
          <mat-toolbar>
            <mat-toolbar-row fxLayout="row" class="px-8" fxLayoutAlign="space-between center">
              <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <input [(ngModel)]="searchText" type="text" placeholder="Search" fxFlex>
                  <mat-icon class="s-16">search</mat-icon>
                </div>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
        <div class="sidenav-content" fusePerfectScrollbar fxFlex>
          <div *ngFor="let bank of AllBanks | filter: searchText">
            <div>
              <div class="mx-8 mb-8 mt-0 p-8 leftCard" (click)="LoadSelectedBank(bank)"
                [style.border-left-color]="SelectedBankCode==bank.BankCode?'#074da2':'#cccccc'">
                <div fxLayout class="pb-4" fxLayoutAlign="space-between center">
                  <div fxFlex><strong>{{bank.BankCode}}</strong></div>
                  <div fxFlex align="end">{{bank.CreatedOn | date :'dd/MM/yyyy'}}</div>
                </div>
                <div fxLayout class="pb-4" fxLayoutAlign="space-between center">
                  <div fxFlex><strong>Bank Name : </strong>{{bank.BankName}}</div>
                </div>
                <!-- <div fxLayout class="pb-4" fxLayoutAlign="space-between center">
                  <div fxFlex><strong>AWB : </strong>{{bank.BankCity}}</div>
                </div>
                <div fxLayout class="pb-4" fxLayoutAlign="space-between center">
                  <div fxFlex>{{bank.BankName}}</div>
                </div> -->
              </div>
            </div>
          </div>
          <div *ngIf="(AllBanks | filter: searchText)?.length === 0" class="no-results-message">
            <span class="pl-12"> No results..</span>
          </div>
        </div>
        <div class="borderRight1"></div>
      </div>
      <mat-card fxFlex="77" class="side-bar p-0">
        <div class="sidenav-content" fxFlex fxLayout="column">
          <div fxFlex fxLayout="column" class="p-0 pt-8">
            <div fxFlex class="px-12 mt-4">
              <form autocomplete="off" class="normal" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start"
                name="form" novalidate [formGroup]="BankFormGroup">

                <div fxFlex fxLayout="row" fxLayoutGap="40px">
                  
                  <div fxFlex="50">
                    <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                      <input matInput placeholder="IFSC" formControlName="BankCode">
                      <mat-error
                        *ngIf="BankFormGroup.get('BankCode').touched && BankFormGroup.get('BankCode').hasError('required')">
                        IFSC is required
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div fxFlex="50">
                    <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                      <input matInput placeholder="Bank Name" formControlName="BankName">
                      <mat-error
                        *ngIf="BankFormGroup.get('BankName').touched && BankFormGroup.get('BankName').hasError('required')">
                        Bank Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div fxFlex fxLayout="row" fxLayoutGap="40px">
                  <div fxFlex="50">
                    <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                      <input matInput placeholder="Bank City" formControlName="BankCity">
                      <mat-error
                        *ngIf="BankFormGroup.get('BankCity').touched && BankFormGroup.get('BankCity').hasError('required')">
                        Bank City is required
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div fxFlex="50">
                    <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                      <mat-select (selectionChange)="CountrySelected()" placeholder="Bank Country"
                        formControlName="BankCountry">
                        <mat-option *ngFor="let country of AllCountries" [value]="country.CountryCode">
                          {{country.CountryName}}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="BankFormGroup.get('BankCountry').touched && BankFormGroup.get('BankCountry').hasError('required')">
                        Bank Country is required
                      </mat-error>
                    </mat-form-field>
                  </div>

                </div>
                <div fxFlex fxLayout="row" fxLayoutGap="40px">
                  <div fxFlex="50">
                    <mat-form-field class="pl-8 pr-32" style="width: 100%;">
                      <input matInput placeholder="Bank Branch" formControlName="BankBranch">
                      <mat-error
                        *ngIf="BankFormGroup.get('BankBranch').touched && BankFormGroup.get('BankBranch').hasError('required')">
                        Bank Branch is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="50">
                    <mat-form-field class="pl-8 pr-32" style="width: 100%;">
                      <input matInput placeholder="Pin Code" formControlName="pincode">
                      <mat-error
                        *ngIf="BankFormGroup.get('pincode').touched && BankFormGroup.get('pincode').hasError('required')">
                        Bank Branch is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

              </form>
              <div fxLayout>
                <div fxFlex fxLayoutAlign="end">
                  <button class="floatBtn" mat-fab style="background-color: #f6b570" (click)="ResetControl()">
                    <mat-icon style="color: white;width: 45px;height: 45px;">add</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-card-actions class="m-0 pl-12 pr-16 cardActions">
          <div fxLayout fxFlex fxLayoutAlign="end">
            <button *ngIf="SelectedBank?.BankCode" mat-stroked-button class="DeleteBtn mr-4 mb-8"
              (click)="DeleteClicked()">Delete</button>
            <button *ngIf="!SelectedBank?.BankCode" mat-raised-button class="SaveBtn"
              (click)="SaveClicked()">Save</button>
            <button *ngIf="SelectedBank?.BankCode" mat-raised-button class="SaveBtn"
              (click)="UpdateClicked()">Update</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile">
    </div>
  </div>
</div>