<div id="login" class="inner-scroll normal" fxLayout="row" fxLayoutAlign="start">

  <div id="login-intro" fxFlex fxHide fxShow.gt-xs>
    <div class="welcometoTitle">Welcome to</div>
    <div class="cloudSolutionPlatformTitle">Cloud Solution Platform</div>
  </div>

  <div id="login-form-wrapper" [style.background-color]="'white'" fusePerfectScrollbar
    [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

    <div id="login-form">
      <div class="title">Sign In</div>
      <div class="border"></div>

      <!-- <div class="subTitel">Welcome back ! Please Sign In to Continue</div> -->

      <form name="loginForm" [formGroup]="loginForm" novalidate>

        <mat-form-field>
          <mat-label>User Name</mat-label>
          <input matInput formControlName="userName" [(ngModel)]="Username">
          <mat-error *ngIf="loginForm.get('userName').hasError('required')">
            User name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>

        <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
          <span class="forgot-password" (click)="OpenForgetPasswordLinkDialog()">
            Forgot Password?
          </span>
        </div>

        <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN" (click)="LoginClicked()">
          <span class="loginButton">LOG IN </span>
        </button>

        <!-- <a class="link" href="/#/register/vendor">Click here to register</a> -->

      </form>
      <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion" color="accent"
        mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>