@import "src/@fuse/scss/fuse";

toolbar {
  background: url("/assets/images/backgrounds/header 2.png") no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex: 0 0 auto;
  z-index: 4;

  &.below {
    z-index: 2;
  }

  .mat-toolbar {
    position: relative;
    background: inherit !important;
    color: inherit !important;
    height: 60px;
  }

  .logo {
    display: flex;
    align-items: center;

    .logo-icon {
      width: 38px;
    }
  }

  .user-button,
  fuse-search-bar,
  .language-button,
  .chat-panel-toggle-button,
  .quick-panel-toggle-button {
    min-width: 45px;
    height: 45px;

    @include media-breakpoint-down("xs") {
      height: 56px;
    }
  }

  .navbar-toggle-button {
    min-width: 40px;
    height: 40px;
  }

  .toolbar-separator {
    height: 25px;
    width: 2px;

    @include media-breakpoint-down("xs") {
      height: 20px;
    }
  }
  .avatar1 {
    height: 30px !important;
    width: 30px !important;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
  }
  .username {
    font-size: 16px;
    font-weight: normal;
  }
  .dayColor {
    color: #d87060;
  }
  .powerIconCls {
    opacity: 1;
  }
  .search {
    height: 36px;
    line-height: 36px;
    padding: 8px;
    font-size: 13px;
    border: solid 1px #074da2;
    overflow: hidden;
    background-color: #fafafa;

    mat-icon.s-16 {
      color: rgba(0, 0, 0, 0.7) !important;
      height: 20px !important;
      width: 20px !important;
    }

    input {
      padding: 0 12px 0 8px;
      background-color: #fafafa;
      height: 36px;
      border: none;
    }
  }
  .boldClass {
    font-weight: bold;
  }
  .toolbarSubtitle {
    margin-top: -8px;
  }
}
