@import "src/@fuse/scss/fuse";
.confirmation-dialog {
  @include media-breakpoint("xs") {
    width: 100%;
  }

  @include media-breakpoint-up("sm") {
    width: 440px;
  }
  .mat-radio-button {
    margin: 0 5px;
  }
  .mat-dialog-container {
    padding: 0;
    border-radius: 0px;
  }

  .dialog-content-wrapper {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .toolBg {
    background-color: #121214 !important;
    color: white !important;
  }
  .btnBg{
    background-color: #074da2 !important;
    color: white !important;
  }
  .SaveBtn{
    background-color: white !important;
    color: #074da2 !important;
    border: 1px solid #074da2 !important;
  }
}
