<div id="reset-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="reset-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="/assets/images/logos/ExalcaLogoWhite.png">
        </div>

        <div class="title" [ngStyle]="{'color':'white'}" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome to the Exalca Technologies Pvt. Ltd.
        </div>

        <div class="description" [ngStyle]="{'color':'white'}" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Exalting You
        </div>

    </div>

    <div id="reset-password-form-wrapper" [style.background-color]="'white'" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="reset-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="/assets/images/logos/ExalcaLogoWhite.png">
            </div>

            <div class="title">CHANGE YOUR PASSWORD</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

                <mat-form-field>
                    <input type="password" matInput placeholder="Current Password" formControlName="currentPassword">
                    <mat-error *ngIf="resetPasswordForm.get('currentPassword').hasError('required')">
                        Current Password is required
                    </mat-error>
                    <!-- <mat-error *ngIf="resetPasswordForm.get('email').hasError('email')">
                      Please enter a valid email address
                  </mat-error> -->
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="New Password" formControlName="newPassword">
                    <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('required')">
                        New password is required
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('newPassword').hasError('required') &&
                                       resetPasswordForm.get('newPassword').hasError('pattern')">
                        Passwords must have minimum One Uppercase letter,three lower case letter,two digit,one special
                        character and minimum length of 8 and don't start with digit
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
                    <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('confirmPassword').hasError('required') &&
                                     resetPasswordForm.get('confirmPassword').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" aria-label="RESET MY PASSWORD" (click)="ChangePasswordClick()">
                    CHANGE MY PASSWORD
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/auth/login'">Go back to login</a>
            </div>
            <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion" color="accent" mode="indeterminate"></mat-progress-spinner>

        </div>
    </div>
</div>