.success {
    background-color: #26b329
}

.danger {
    background-color: #d6201d
}

.warning {
    background-color: #ee9a2c
}

.info {
    background-color:#1992ce;
}

.test {
    background: #1abc9c !important;
}