<div id="OnBoardingfield" class="page-layout carded fullwidth">
  <div class="center">
    <div class="outer" fxLayout>
      <div class="bg"></div>
      <div>
        <h3 style="margin: 0px;padding-left: 10px;"><b>OnBoarding Field Configuration</b></h3>
      </div>
      <div fxFlex align="end">
        <span><img src="assets/images/logo.png" style="height: 40px;padding: 4px 15px 2px 0px;"></span>
      </div>
    </div>
    <div fxLayout class="content-card1">
      <div fxFlex="23" class="side-bar" style="background-color: #f5f5f5">
        <div class="sidenav-header">
          <mat-toolbar>
            <mat-toolbar-row fxLayout="row" class="px-8" fxLayoutAlign="space-between center">
              <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <input [(ngModel)]="searchText" type="text" placeholder="Search" fxFlex>
                  <mat-icon class="s-16">search</mat-icon>
                </div>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
        <div class="sidenav-content" fusePerfectScrollbar fxFlex>
          <div *ngFor="let OnBoardingFieldMaster  of AllOnBoardingFieldMasters  | filter: searchText">
            <div>
              <div class="mx-8 mb-8 mt-0 p-8 leftCard" (click)="loadSelectedOnBoardingFieldMaster(OnBoardingFieldMaster )"
                [style.border-left-color]="selectID ==OnBoardingFieldMaster.ID?'#074da2':'#cccccc'">
                <div fxLayout class="pb-4" fxLayoutAlign="space-between center">
                  <div fxFlex><strong>{{OnBoardingFieldMaster.Field}}</strong></div>
                  <div fxFlex align="end">{{OnBoardingFieldMaster.CreatedOn | date :'dd/MM/yyyy'}}</div>
                </div>
                <div fxLayout class="pb-4" fxLayoutAlign="space-between center">
                  <div fxFlex><strong></strong>{{OnBoardingFieldMaster.Text}}</div>
                </div>
                <!-- <div fxLayout class="pb-4" fxLayoutAlign="space-between center">
                  <div fxFlex><strong>AWB : </strong>{{OnBoardingFieldMaster .PatnerID}}</div>
                </div>
                <div fxLayout class="pb-4" fxLayoutAlign="space-between center">
                  <div fxFlex>{{OnBoardingFieldMaster .Client}}</div>
                </div> -->
              </div>
            </div>
          </div>
          <div *ngIf="(AllOnBoardingFieldMasters  | filter: searchText)?.length === 0" class="no-results-message">
            <span class="pl-12"> No results..</span>
          </div>
        </div>
        <div class="borderRight1"></div>
      </div>
      <mat-card fxFlex="77" class="side-bar p-0">
        <div class="sidenav-content" fxFlex fxLayout="column">
          <div fxFlex fxLayout="column" class="p-0 pt-8">
            <div fxFlex class="px-12 mt-4">
              <form autocomplete="off" class="normal" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start"
                name="form" novalidate [formGroup]="OnBoardingFieldMasterFormGroup">

                <div fxFlex fxLayout="row" fxLayoutGap="40px">

                  <div fxFlex="50">
                    <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                      <input matInput placeholder="Field" formControlName="Field">
                      <mat-error
                        *ngIf="OnBoardingFieldMasterFormGroup.get('Field').touched &&  OnBoardingFieldMasterFormGroup.get('Field').hasError('required')">
                        Field is required</mat-error>
                    </mat-form-field>
                  </div>

                  <div fxFlex="50">
                    <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                      <input matInput placeholder="Text" formControlName="Text">
                      <mat-error
                        *ngIf="OnBoardingFieldMasterFormGroup.get('Text').touched && OnBoardingFieldMasterFormGroup.get('Text').hasError('required')">
                        Text is required
                      </mat-error>
                    </mat-form-field>
                  </div>

                </div>

                <div fxFlex fxLayout="row" fxLayoutGap="40px">

                  <div fxFlex="50">
                    <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                      <input matInput placeholder="Default Value" formControlName="DefaultValue">
                      <mat-error
                        *ngIf="OnBoardingFieldMasterFormGroup.get('DefaultValue').touched && OnBoardingFieldMasterFormGroup.get('DefaultValue').hasError('required')">
                        Default Value is required
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div fxFlex="50">
                    <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                      <mat-select placeholder="Mandatory" formControlName="Mandatory">
                        <mat-option *ngFor="let man of MandatoryList" [value]="man.Value">
                          {{man.Key}}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="OnBoardingFieldMasterFormGroup.get('Mandatory').touched && OnBoardingFieldMasterFormGroup.get('Mandatory').hasError('required')">
                        Mandatory is required</mat-error>
                    </mat-form-field>
                  </div>

                </div>

                <div fxFlex fxLayout="row" fxLayoutGap="40px">
                  <div fxFlex="50">
                    <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                      <mat-select placeholder="Invisible" formControlName="Invisible">
                        <mat-option *ngFor="let man of MandatoryList" [value]="man.Value">
                          {{man.Key}}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="OnBoardingFieldMasterFormGroup.get('Invisible').touched && OnBoardingFieldMasterFormGroup.get('Invisible').hasError('required')">
                        Invisible is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </form>
              <!-- <div fxLayout>
                <div fxFlex fxLayoutAlign="end">
                  <button class="floatBtn" mat-fab style="background-color: #f6b570" (click)="ResetControl()">
                    <mat-icon style="color: white;">add</mat-icon>
                  </button>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <mat-card-actions class="m-0 pl-12 pr-16 cardActions">
          <div fxLayout fxFlex fxLayoutAlign="end">
            <!-- <button *ngIf="selectedOnBoardingFieldMaster?.ID" mat-stroked-button class="DeleteBtn mr-4 mb-8"
              (click)="DeleteClicked()">Delete</button> -->
            <!-- <button mat-raised-button class="mr-4 mb-8" (click)="ResetControl()" *ngIf="!selectedOnBoardingFieldMaster.ID">
              Clear
            </button> -->
            <button (click)="SaveClicked()" class="SaveBtn" mat-raised-button>
              {{selectedOnBoardingFieldMaster.ID?'Update':'Create'}}</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <mat-progress-spinner *ngIf="isProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="isProgressBarVisibile">
    </div>
  </div>
</div>